.contacts {
    .contacts__wrapper {
        .wrapper;
        
        .contacts__description {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .contacts__title {
                .font-oswald;
                font-size: 16px;
                line-height: 20px;
                text-transform: uppercase;
            }
            .contacts__text {
                .font-arial;
                line-height: 20px;
                color: #444444;
            }
        }
        .contacts__map {
            margin: 0;
            padding: 0;
        }
    }
}