.footer {
  .wrapper;
}

.footer__wrapper {
  .wrapper;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__item {
  position: relative;
}

.footer__logo {
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    min-width: 150px;
  }
}

.footer__logo_image {
  margin: auto;
}

.social__list {
  .indent0;
  // width: 90vw;
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    min-width: 160px;
    border: none;
  }
}

.social__link {
  .indent0;
  display: flex;
  min-width: 45px;
  height: 40px;
  padding: auto 18px;
}

.social__logo {
  margin: auto;
}

.developer__link {
  .indent0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  // min-width: 90vw;

  @media (min-width: @tablet-width) {
    min-width: 163px;
  }
}

.developer__text {
  .font-arial;
  color: #444444;
}
