.page-header {
    margin: 0;
    padding: 11px 18px 18px 20px;
    max-width: 100%;
    border-bottom: 1px solid #d9d9d9;
    
}
.header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav__toggle {
    margin: 0;
    background-image: url("/img/Mobile/menu_mobile.svg");
    width: 24px;
    height: 18px;
    border: none;
    padding: 8px;
    background-color: transparent;
}
