.main-itworks {
  margin-bottom: 49px;
}

.itworks__wrapper {
  padding: 0 20px;
}

.itworks__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.itworks__item {
  display: flex;
  max-width: 263px;

  @media (min-width: @tablet-width) {
    width: 230px;
    height: 280px;

    @media (min-width: @tablet-width) {
      margin-right: 153px;
    }
  }
}

.itworks__text {
  margin: 0;
  margin-left: 11px;
  margin-bottom: 20px;
  .font-arial;
  color: #444444;
}

.itworks__number {
  display: none;
}
