.contacts {
  text-align: start;
  position: relative;
}

.contacts__heading {
  .font-oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__header {
  .indent0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: @desktop-width) {
    position: relative;
    background: @color-white;
    width: 405px;
    height: 86px;
    padding: 56px 80px;
    top: 197px;
    left: 110px;
    margin: -98px;
  }
}

.contacts__text {
  .font-arial;
  line-height: 20px;
}

.contacts__map {
  width: 100%;
  height: auto;
}
