.promo__wrapper {
    max-width: 100%;
    background-image: url("../img/Mobile/index-background-desktop2.jpg");
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 20px;    
}
.promo__title { 
    margin: 0;
    padding-top: 27px;
    .font-oswald;
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 25px;
}

.promo__text {
    margin: 0;
    .font-oswald;
    font-size: 14px;
    line-height: 11px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 29px;
}

.promo__button {
    margin-bottom: 20px;
}

.advantages {
    position: relative;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .advantages__title {
        display: flex;
        margin: 0;
        .font-oswald;
        font-size: 24px;
        line-height: 37px;
        text-transform: uppercase;
        padding-top: 29px;
        padding-left: 91px;
        margin-bottom: 29px;
    }
    .skinny::before {
        content: "";
        width: 50px;
        height: 53px;
        position: absolute;
        top: 21px;
        left: 22px;
        background-image: url("/img/cat_back.svg");
        background-repeat: no-repeat;
    }
    .fatty::before {
        content: "";
        width: 67px;
        height: 50px;
        position: absolute;
        top: 24px;
        left: 13px;
        background-image: url("/img/cat_back2.svg");
        background-repeat: no-repeat;
        margin-bottom: 29px;
    }
    .advantages__text {
        .font-arial;
        margin: 0;
        margin-left: 20px;
        margin-right: 31px;
        padding-bottom: 23px;
        color: #444444;
        border-bottom: 1px solid #d9d9d9;
    }
    .advantages__link {
        .font-oswald;
        text-decoration: none;
        color: #000000;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        padding-top: 19px;
        padding-left: 19px;
        margin-bottom: 22px;
    }

}





