.show-more {
  margin: 0 auto;
  min-width: 280px;
  max-width: 707px;
  text-align: center;
  min-height: 158px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.show-more__heading {
  .indent0;
  margin-top: 53px;
  .font-oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-black-11;
  margin-bottom: 8px;
}

.show-more__text {
  .indent0;
  .font-arial;
  font-size: 12px;
  line-height: 16px;
  color: @color-darkgrey;
  margin-bottom: 21px;
}

.show-more__button {
  background-color: @color-lightgrey;
  color: @color-darkgrey;
  height: 40px;
}
