.page {
  margin: 0;
  padding: 0;
  font-family: "Arial", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.section__title {
  font-family: "Oswald", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    padding: 0 130px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
.button {
  text-align: center;
  justify-content: center;
  border: none;
  font-family: "Oswald", serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #68b738;
  color: #ffffff;
  text-decoration: none;
  padding: 11px;
}
.font-arial {
  font-family: "Arial", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.font-oswald {
  font-family: "Oswald", serif;
  font-weight: 400;
}
.indent0 {
  margin: 0;
  padding: 0;
}
.wrapper {
  margin: 0;
  padding: 0 20px;
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: local("Oswald"), url("/fonts/oswaldregular.woff2") format(woff2), url("/fonts/oswaldregular.woff") format(woff);
}
@font-face {
  font-family: "Oswald Medium";
  font-weight: 400;
  font-style: normal;
  src: local("Oswald"), url("/fonts/oswaldmedium.woff2") format(woff2), url("/fonts/oswaldmedium.woff") format(woff);
}
.page-header {
  margin: 0 20px;
  padding: 11px 18px 18px 20px;
  max-width: 100%;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .page-header {
    margin: 0 30px;
  }
}
@media (min-width: 1440px) {
  .page-header {
    margin: 0 110px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__link {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 191px;
}
.main-nav__toggle {
  margin: 0;
  background-image: url("/img/Mobile/menu_mobile.svg");
  width: 24px;
  height: 18px;
  border: none;
  padding: 8px;
  background-color: transparent;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav {
  display: none;
}
@media (min-width: 768px) {
  .main-nav {
    display: flex;
  }
}
.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main-nav__item {
  list-style: none;
}
.main-nav__item:not(:last-child) {
  margin-right: 17px;
}
.main-nav__item .main-nav__link {
  font-family: "Oswald", serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
.footer {
  margin: 0;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .footer {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding: 0 130px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
.footer__wrapper {
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .footer__wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .footer__wrapper {
    padding: 0 130px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__item {
  position: relative;
}
.footer__logo {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__logo {
    min-width: 150px;
  }
}
.footer__logo_image {
  margin: auto;
}
.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .social__list {
    min-width: 160px;
    border: none;
  }
}
.social__link {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 45px;
  height: 40px;
  padding: auto 18px;
}
.social__logo {
  margin: auto;
}
.developer__link {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
@media (min-width: 768px) {
  .developer__link {
    min-width: 163px;
  }
}
.developer__text {
  font-family: "Arial", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}
.contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.contacts__description {
  margin: 0 auto;
  max-width: 630px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .contacts__description {
    max-width: 630px;
  }
}
@media (min-width: 1440px) {
  .contacts__description {
    background-color: #ffffff;
    position: absolute;
    width: 565px;
    height: 198px;
    justify-content: space-around;
  }
}
.contacts__title {
  font-family: "Oswald", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .contacts__title {
    font-size: 20px;
    line-height: 26px;
  }
}
@media (min-width: 1440px) {
  .contacts__title {
    margin: 0;
    padding: 0;
    margin: auto;
  }
}
.contacts__text--wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.contacts__text {
  margin: 0;
  padding: 0;
  font-family: "Arial", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  line-height: 20px;
  color: #444444;
  min-width: 150px;
}
@media (min-width: 768px) {
  .contacts__text {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (min-width: 1440px) {
  .contacts__text:not(:last-child) {
    margin-bottom: 20px;
  }
}
.contacts__map {
  margin: 0;
  padding: 0;
}
.page-main {
  margin: 0;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page-main {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .page-main {
    padding: 0 130px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
.promo__wrapper {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}
.main-promo__header {
  display: flex;
  flex-direction: column;
}
.promo__title {
  margin: 0;
  padding-top: 27px;
  font-family: "Oswald", serif;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 25px;
  background-image: url("../img/Mobile/index-background-desktop2.jpg");
  background-color: #68b738;
}
.promo__text {
  margin: 0;
  font-family: "Oswald", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 11px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
}
.promo__button {
  margin-bottom: 20px;
  color: #ffffff;
  background-color: #68b738;
}
.advantages {
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.advantages__title {
  display: flex;
  margin: 0;
  font-family: "Oswald", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-top: 29px;
  padding-left: 91px;
  margin-bottom: 29px;
}
.skinny::before {
  content: "";
  width: 50px;
  height: 53px;
  position: absolute;
  top: 21px;
  left: 22px;
  background-image: url("/img/cat_back.svg");
  background-repeat: no-repeat;
}
.fatty::before {
  content: "";
  width: 67px;
  height: 50px;
  position: absolute;
  top: 24px;
  left: 13px;
  background-image: url("/img/cat_back2.svg");
  background-repeat: no-repeat;
  margin-bottom: 29px;
}
.advantages__text {
  font-family: "Arial", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-left: 20px;
  margin-right: 31px;
  padding-bottom: 23px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}
.advantages__link {
  font-family: "Oswald", serif;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-top: 19px;
  padding-left: 19px;
  margin-bottom: 22px;
}
.main-itworks {
  margin-bottom: 49px;
}
.itworks__wrapper {
  padding: 0 20px;
}
.itworks__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 768px) {
  .itworks__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.itworks__item {
  display: flex;
  max-width: 263px;
}
@media (min-width: 768px) {
  .itworks__item {
    width: 230px;
    height: 280px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .itworks__item {
    margin-right: 153px;
  }
}
.itworks__text {
  margin: 0;
  margin-left: 11px;
  margin-bottom: 20px;
  font-family: "Arial", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}
.itworks__number {
  display: none;
}
.expenses__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .expenses__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.example__wrapper {
  margin: 0;
  padding: 0 20px;
  background-color: #eaeaea;
  max-height: min-content;
}
@media (min-width: 768px) {
  .example__wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    padding: 0 130px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
.example__title {
  padding-top: 25px;
}
.example__text {
  font-family: "Arial", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}
.expenses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 288px;
  max-width: 370px;
}
.expenses__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.expenses__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 124px;
  height: 56px;
  font-family: "Oswald", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .expenses__title {
    width: 162px;
    height: 72px;
    font-size: 30px;
  }
}
.expenses__text {
  margin: 0;
  padding: 0;
  margin-top: -10px;
  text-align: center;
  background-color: #eaeaea;
  line-height: 12px;
  padding: 0 14px;
  color: #444444;
  max-width: min-content;
  font-size: 12px;
}
@media (min-width: 768px) {
  .expenses__text {
    max-width: 142px;
    font-size: 14px;
  }
}
.expenses__money {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  font-family: "Oswald", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .expenses__money {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
  }
}
.expenses__money--text {
  display: inline;
  margin: 0;
  padding: 0;
}
.results {
  margin: 0;
  background-color: #eaeaea;
}
.form-main__wrapper {
  margin: 0;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .form-main__wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .form-main__wrapper {
    padding: 0 130px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
.form-main__title {
  font-family: "Oswald", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
.form-main__description {
  font-family: "Oswald", serif;
  font-weight: 400;
  text-transform: uppercase;
}
.form__field {
  padding: 14px;
  border: 1px solid #E7E7E7;
  min-width: 172px;
}
.form {
  font-family: "Oswald", serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
}
.form .form__cat-info {
  max-width: 100%;
}
.form .form__cat-info .cat-info__fields {
  display: flex;
  align-items: center;
}
.form .form__cat-info .cat-info__fields .form__label {
  white-space: nowrap;
}
.form .form__cat-info .cat-info__fields .form__field {
  flex-grow: 1;
  max-width: 172px;
}
.form .form__cat-action {
  display: grid;
  grid-template-columns: 1fr;
}
.form .form__cat-owners .owners__fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form .form__comments {
  margin: 0;
  padding: 0;
  border: none;
}
.form .form__comments .form__comments--text {
  width: 280px;
  height: 150px;
}
.form .form__addon {
  border: none;
}
.form .form__addon .addon__input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: none;
}
.form .form__button {
  min-width: 100%;
}
.footnote {
  text-align: center;
}
.page-catalog__wrapper {
  margin: 0;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page-catalog__wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .page-catalog__wrapper {
    padding: 0 130px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
.page-catalog__wrapper .page-catalog__title {
  font-family: "Oswald", serif;
  font-weight: 400;
  min-width: 100%;
  font-size: 36px;
  line-height: 36px;
  padding-bottom: 41px;
  border-bottom: 1px solid #ebebeb;
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
}
.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.catalog__image {
  justify-self: center;
  align-self: center;
}
.catalog__item_description {
  display: grid;
  grid-template-columns: 50% 50%;
}
.catalog__title {
  grid-column: 1 / -1;
  font-family: "Oswald", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 80px;
}
.card__net {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #444444;
}
.card-termin {
  grid-column: 1 / 2;
}
.card-description {
  grid-column: 2 / 3;
  justify-self: center;
}
.button__order {
  min-width: 100%;
  grid-column: 1 / -1;
}
.catalog__more {
  min-width: 100%;
  margin: 0;
  padding: 0;
}
.catalog__more_title {
  font-family: "Oswald", serif;
  font-weight: 400;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
}
.catalog__more_text {
  font-family: "Arial", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: center;
}
.show__more {
  min-width: 100%;
  background-color: #f2f2f2;
  color: #444444;
}
/*# sourceMappingURL=style.css.map */
