@import url("normalize.css");
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Oswald"), url("/fonts/oswaldregular.woff2") format(woff2), url("/fonts/oswaldregular.woff") format(woff);
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Oswald"), url("/fonts/oswaldmedium.woff2") format(woff2), url("/fonts/oswaldmedium.woff") format(woff);
}
.wrapper {
  padding: 0 20px;
  margin: auto;
}
@media (min-width: 768px) {
  .wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1280px) {
  .wrapper {
    padding: 0;
    max-width: 1220px;
  }
}
.font-arial {
  font-family: "Arial", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.font-oswald {
  font-family: "Oswald", serif;
  font-weight: 400;
}
.indent0 {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  display: flex;
  font-family: "Oswald", serif;
  font-weight: 400;
  background-color: #68b738;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
}
.page {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.page-body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.page-main__heading {
  margin: 0;
  font-family: "Oswald", serif;
  padding: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}
@media (min-width: 768px) {
  .page-main__heading {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 768px) {
  .page-main__subheading {
    font-size: 20px;
    line-height: 30px;
  }
}
.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.page-header {
  margin-top: 10px;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .page-header {
    margin-top: 24px;
    margin-bottom: 62px;
  }
}
@media (min-width: 1280px) {
  .page-header {
    margin-top: 55px;
    margin-bottom: 29px;
  }
}
.page-header__nav {
  background-size: 100%;
  display: grid;
  grid-template-areas: "l l t" "m m m";
}
@media (min-width: 768px) {
  .page-header__nav {
    grid-template-areas: "l m";
  }
}
.logo__link {
  grid-area: l;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .logo__link {
    max-width: 174px;
  }
}
.main-nav__toggler {
  grid-area: t;
}
@media (min-width: 768px) {
  .main-nav__toggler {
    display: none;
  }
}
.site-menu {
  margin: 0;
  padding: 0;
  grid-area: m;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}
@media (min-width: 768px) {
  .site-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
.site-menu__link {
  font-family: "Oswald", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-right: 35px;
}
@media (min-width: 768px) {
  .site-menu__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
}
@media (min-width: 1280px) {
  .site-menu__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
}
@media (min-width: 1280px) {
  .site-menu__index .site-menu__link {
    color: #ffffff;
  }
}
.page-main {
  box-sizing: border-box;
}
.page-footer {
  background-color: #f2f2f2;
}
.footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
@media (min-width: 768px) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
  }
}
.logo {
  padding: 39px 0 32px;
}
.social {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33px);
  list-style: none;
  justify-content: center;
  align-items: center;
  justify-items: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .social {
    border: none;
  }
}
.social__item {
  padding: 22px;
}
.developer__link {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Arial", serif;
  font-size: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-decoration: none;
  margin: 22px 0;
}
@media (min-width: 768px) {
  .developer__link {
    justify-content: flex-end;
  }
}
.developer__text {
  margin-right: 22px;
}
.promo {
  position: relative;
  background-color: #68b738;
  color: #ffffff;
  background-image: url("../img/Mobile/index-background-desktop2.jpg");
  text-align: center;
  background-size: cover;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .promo {
    background-image: none;
    background-color: #ffffff;
    height: 810px;
  }
}
@media (min-width: 1280px) {
  .promo {
    margin: 0;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    position: relative;
    top: -121px;
    padding-top: 121px;
    background-image: url("../img/desktop/index-background-desktop.png");
    background-color: #ffffff;
    background-position: 100% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 694px;
    margin-bottom: -41px;
    z-index: -1;
    max-width: 1440px;
  }
}
.promo__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}
@media (min-width: 768px) {
  .promo__title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    max-width: 420px;
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .promo__title {
    color: #000000;
    margin-top: 103px;
  }
}
.promo__text {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .promo__text {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 49px;
  }
}
.promo__button {
  position: relative;
  height: 40px;
  z-index: 2;
  order: 2;
}
@media (min-width: 768px) {
  .promo__button {
    width: 244px;
    height: 54px;
    z-index: 2;
    margin-bottom: 526px;
  }
}
@media (min-width: 1280px) {
  .promo__button {
    margin-bottom: 185px;
  }
}
@media (min-width: 768px) {
  .promo__image {
    position: absolute;
    width: 707px;
    height: 609px;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
  }
}
@media (min-width: 1280px) {
  .promo__image {
    width: 552px;
    height: 499px;
    right: 45%;
  }
}
.catalog-section {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 20px;
}
@media (min-width: 1280px) {
  .catalog-section {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 45px;
  }
}
@media (min-width: 1280px) {
  .catalog-section {
    gap: 80px;
    margin-bottom: 71px;
  }
}
.advantages {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  background-color: #f2f2f2;
  background-size: 100% auto;
  min-width: 280px;
  margin-bottom: 20px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .advantages {
    min-width: 100%;
    margin-bottom: 30px;
    padding-left: 52px;
  }
}
@media (min-width: 1280px) {
  .advantages {
    width: 570px;
  }
}
.advantages__title {
  font-family: "Oswald", serif;
  font-weight: 400;
  text-align: start;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .advantages__title {
    align-self: flex-start;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1280px) {
  .advantages__title {
    margin: 77px 0 73px;
    align-self: center;
  }
}
.logo--slim::before {
  position: absolute;
  top: 22px;
  left: 22px;
  content: "";
  width: 50px;
  height: 53px;
  background-image: url("../img/cat_slim.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 768px) {
  .logo--slim::before {
    top: 20%;
    left: 55%;
    width: 200px;
    height: 211px;
  }
}
@media (min-width: 1280px) {
  .logo--slim::before {
    top: 41px;
    left: 52px;
    width: 100px;
    height: 100px;
  }
}
.logo--pro::before {
  position: absolute;
  top: 24px;
  left: 13px;
  content: "";
  width: 67px;
  height: 50px;
  background-image: url("../img/cat_pro.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 768px) {
  .logo--pro::before {
    top: 20%;
    left: 50%;
    width: 268px;
    height: 200px;
  }
}
@media (min-width: 1280px) {
  .logo--pro::before {
    top: 47px;
    left: 33px;
    width: 134px;
    height: 100px;
  }
}
.advantages__text {
  margin: 0;
  padding: 0;
  font-family: "Arial", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 23px;
  align-self: flex-start;
  max-width: 227px;
  color: #444444;
}
@media (min-width: 768px) {
  .advantages__text {
    font-size: 16px;
    line-height: 24px;
    max-width: 340px;
  }
}
.advantages__link {
  position: relative;
  display: block;
  border-top: 1px solid #d9d9d9;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin: 0 20px;
  width: 240px;
  align-self: flex-start;
  padding: 20px 0;
}
@media (min-width: 768px) {
  .advantages__link {
    border: none;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 57px;
  }
}
@media (min-width: 1280px) {
  .advantages__link {
    margin-bottom: 59px;
  }
}
.advantages__link::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 2px;
  background-color: #000000;
  left: 50%;
  top: 52%;
}
.advantages__link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 7px solid #000000;
  background-color: transparent;
  left: 50%;
  top: 52%;
  transform: translate(200%, -50%);
  border-left-color: #000000;
  border-right-width: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.process {
  margin-bottom: 49px;
}
@media (min-width: 1280px) {
  .process {
    margin-bottom: 26px;
  }
}
.process > .page-main__heading {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .process > .page-main__heading {
    margin-bottom: 32px;
  }
}
.process__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .process__list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 153px;
    row-gap: 37px;
    padding-bottom: 47px;
    border-bottom: 1px solid #f2f2f2;
  }
}
@media (min-width: 1280px) {
  .process__list {
    gap: 0;
    display: flex;
    flex-direction: rows;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
    padding: 0;
  }
}
.process__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  width: 280px;
}
@media (min-width: 768px) {
  .process__item {
    width: 230px;
    grid-template-rows: 60px 1fr;
  }
}
@media (min-width: 1280px) {
  .process__item {
    width: 230px;
  }
}
.process__text {
  font-family: "Arial", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .process__text {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    font-size: 16px;
    line-height: 20px;
  }
}
.process__number {
  display: none;
}
.section-example {
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .section-example {
    background: linear-gradient(360deg, #eaeaea 45%, transparent 10%);
  }
}
@media (min-width: 1280px) {
  .section-example {
    background: linear-gradient(360deg, #eaeaea 70%, transparent 50%);
  }
}
.example {
  display: flex;
  flex-direction: column;
  margin: auto;
}
@media (min-width: 1280px) {
  .example {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, max-content);
  }
}
.example__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .example__wrapper {
    grid-area: 3 / 1 / -1 / 2;
    grid-template-columns: 1fr;
    align-items: center;
    width: 366px;
  }
}
.example > .page-main__heading {
  margin-top: 25px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example > .page-main__heading {
    margin-top: 43px;
    margin-bottom: 63px;
  }
}
@media (min-width: 1280px) {
  .example > .page-main__heading {
    margin-bottom: 146px;
  }
}
.example__text {
  color: #444444;
  font-family: "Arial", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
@media (min-width: 1280px) {
  .example__text {
    width: 366px;
    grid-area: 2 / 1 / 3 / 2;
  }
}
.example__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
@media (min-width: 768px) {
  .example__list {
    width: 366px;
  }
}
.example__definition {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 24px;
  position: relative;
  text-align: center;
  padding: 15px 0;
  display: block;
  width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .example__definition {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
    padding-top: 17px;
  }
}
.example__title {
  font-family: "Arial", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  text-align: center;
  order: 2;
  width: min-content;
  margin-top: -10px;
  background-color: #eaeaea;
  z-index: 2;
  padding: 0 10px;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 14px;
    line-height: 14px;
    width: max-content;
    background-color: #ffffff;
  }
}
@media (min-width: 1280px) {
  .example__title {
    background-color: #eaeaea;
  }
}
.expenses__money--text {
  margin: 0;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  width: 190px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .expenses__money--text {
    margin: 0;
    padding: 0;
    margin-left: auto;
    font-size: 20px;
    line-height: 29px;
    display: block;
    width: 175px;
    text-align: end;
  }
}
@media (min-width: 1280px) {
  .expenses__money--text {
    width: 366px;
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .example__images {
    grid-area: 1 / 2 / 4 / 3;
    align-self: center;
  }
}
.result__image--before,
.result__image--after {
  width: auto;
}
@media (min-width: 1280px) {
  .example__switcher {
    grid-area: 4 / 2 / 5 / 3;
    width: 572px;
  }
}
.contacts {
  text-align: start;
}
.contacts__heading {
  font-family: "Oswald", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.contacts__header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.contacts__text {
  font-family: "Arial", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  line-height: 20px;
}
.contacts__map {
  width: 100%;
  height: auto;
}
@media (min-width: 1280px) {
  .form__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 80px;
  }
}
.form-main__subheading {
  text-transform: uppercase;
}
.field-group {
  border: none;
  margin: 0;
  padding: 0;
}
.field-group__heading {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;
}
.form__label,
.field {
  display: flex;
  align-items: center;
}
.field__lead {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 10px;
  color: #444444;
}
.field__input {
  font-size: 16px;
  line-height: 18px;
  flex-grow: 1;
  font-family: "Oswald", serif;
  font-weight: 400;
  min-height: 45px;
}
.field-group__item:not(:last-child) {
  margin-bottom: 13px;
}
.control__lead {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .control__lead {
    font-size: 20px;
    line-height: 30px;
  }
}
.field-group__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .form-additionals .field-group__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 565px;
    column-gap: 124px;
  }
}
@media (min-width: 768px) {
  .form-additionals .field-group__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.form__button {
  width: 100%;
  border: none;
  height: 40px;
}
@media (min-width: 768px) {
  .form__button {
    display: inline-block;
    width: 282px;
    height: 52px;
    margin-right: 61px;
  }
}
@media (min-width: 1280px) {
  .form__button {
    display: inline-block;
    width: 568px;
    height: 52px;
    margin-right: 81px;
  }
}
.footnote {
  font-family: "Arial", serif;
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
  text-align: center;
}
@media (min-width: 768px) {
  .footnote {
    display: inline-block;
    font-size: 16px;
    width: max-content;
  }
}
@media (min-width: 768px) {
  .catalog-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    gap: 60px;
  }
}
@media (min-width: 1280px) {
  .catalog-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    gap: 60px;
  }
}
.card {
  display: grid;
  grid-template-columns: 2fr min-content 1fr;
  grid-template-rows: 41px 71px 1fr;
  gap: 13px;
}
@media (min-width: 768px) {
  .card {
    width: 324px;
    height: 511px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    background: linear-gradient(360deg, #f2f2f2 84%, transparent 1%);
  }
}
@media (min-width: 1280px) {
  .card {
    width: 245px;
    height: 512px;
  }
}
.card__img {
  grid-area: 1 / 1 / 3 / 2;
  justify-self: center;
  align-self: center;
  padding-top: 14px;
}
@media (min-width: 768px) {
  .card__img {
    grid-area: 1 / 1 / -1 / 3;
  }
}
.card__link {
  text-decoration: none;
}
@media (min-width: 768px) {
  .card__link {
    grid-area: 2 / 1 / 3 / -1;
    margin: 0 auto;
    width: 174px;
  }
}
.card__heading {
  grid-area: 1 / 2 / 2 / 4;
  font-family: "Oswald", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  min-width: 80px;
}
@media (min-width: 768px) {
  .card__heading {
    text-align: center;
    margin-bottom: 21px;
  }
}
.card__net {
  grid-area: 2 / 2 / 3 / 4;
  display: grid;
  grid-template-columns: 1fr max-content;
  color: #444444;
  gap: 14px;
}
@media (min-width: 768px) {
  .card__net {
    grid-area: 3 / 1 / 4 / -1;
    margin: 0 auto;
    width: 248px;
    margin-bottom: 33px;
  }
}
@media (min-width: 1280px) {
  .card__net {
    grid-area: 3 / 1 / 4 / -1;
    width: 166px;
  }
}
.card-description {
  text-align: end;
}
.card-termin {
  position: relative;
}
@media (min-width: 768px) {
  .card-termin::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 250px;
    height: 1px;
    border-bottom: 1px solid #cdcdcd;
  }
}
@media (min-width: 1280px) {
  .card-termin::before {
    width: 166px;
  }
}
.card__button {
  margin-top: 12px;
  grid-area: 3 / 1 / 4 / -1;
  height: 40px;
}
@media (min-width: 768px) {
  .card__button {
    grid-area: 4 / 1 / 5 / -1;
    margin: 0 auto;
    width: 248px;
    margin-bottom: 39px;
  }
}
@media (min-width: 1280px) {
  .card__button {
    width: 168px;
  }
}
.show-more {
  margin: 0 auto;
  min-width: 280px;
  max-width: 707px;
  text-align: center;
  min-height: 158px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.show-more__heading {
  margin: 0;
  padding: 0;
  margin-top: 53px;
  font-family: "Oswald", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .show-more__heading {
    margin: 161px auto 23px;
    width: 248px;
    margin-bottom: 39px;
  }
}
@media (min-width: 1280px) {
  .show-more__heading {
    width: 168px;
  }
}
.show-more__text {
  margin: 0;
  padding: 0;
  font-family: "Arial", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 21px;
}
.show-more__button {
  background-color: #f2f2f2;
  color: #444444;
  height: 40px;
}
@media (min-width: 768px) {
  .show-more__button {
    margin: 0 auto;
    width: 248px;
    margin-bottom: 39px;
  }
}
@media (min-width: 1280px) {
  .show-more__button {
    width: 168px;
  }
}
.offer {
  position: relative;
  margin: 0 auto;
  min-width: 280px;
  max-width: 707px;
  min-height: 280px;
  display: flex;
  background-color: #68b738;
  background-image: url("../img/Mobile/offer-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.offer-text::before {
  display: block;
  margin: 48px auto;
  width: 78px;
  height: 80px;
  content: "";
  background-image: url("../img/icon-gift.svg");
}
.offer-text {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 165px;
  font-family: "Arial", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 1280px) {
  .catalog-additionals {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: min-content min-content;
    grid-row: 80px;
  }
}
.catalog-additional__heading {
  font-family: "Oswald", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 36px;
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 1280px) {
  .catalog-additional__heading {
    grid-area: 1 / 1 / 2 / -1;
  }
}
.catalog-additional__list {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  min-width: 280px;
  list-style: none;
}
.card-row__heading {
  font-family: "Oswald", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
  width: 165px;
}
.card-row__list {
  font-family: "Arial", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
}
.card-row__definition {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}
.card-row__button {
  height: 40px;
  margin-bottom: 19px;
}
@media (min-width: 768px) {
  .card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
}
@media (min-width: 1280px) {
  .card-row {
    width: 896px;
  }
}
@media (min-width: 768px) {
  .card-row__button {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .card-row__button {
    width: 244px;
  }
}
@media (min-width: 768px) {
  .card-row__list {
    display: grid;
    grid-template-columns: max-content max-content;
  }
}
@media (min-width: 1280px) {
  .card-row__list {
    display: flex;
    justify-content: space-between;
    width: 288px;
  }
}
.test__section {
  padding: 5px;
  background-color: tomato;
}
.test_div {
  margin: 0 auto;
  padding: 10px;
  background-color: #97d1be;
  border: 5px solid black;
  min-width: 320px;
  max-width: 707px;
}
/*# sourceMappingURL=style.css.map */
