//    FONTS

.font-arial {
    font-family: Arial, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.font-oswald {
    font-family: "Oswald", serif;
    font-weight: 400;
}

//wrapper

.wrapper {
    margin: 0;
    padding: 0 20px;
}